.sidebar-container {
  width: 280px;
  background-color: #fff;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 20;

  &.close {
    width: 104px;

    .logo-name {
      display: none;
    }
  }
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  border-radius: 10px;

  .icon-chartBar {
    color: #465fff;
    font-size: 30px;
  }

  .logo-name {
    color: #465fff;
    font-weight: 700;
    font-size: 24px;
    margin-left: 14px;
    margin-bottom: 4px;
    white-space: nowrap;
  }
}

.sidebar-body {
  margin-top: 50px;

  .nav-items {
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s;

    .icon {
      font-size: 22px;
      margin-top: 6px;
      padding-right: 17px;
    }

    &:hover {
      background-color: #f2f4f7;
    }

    &.active {
      background-color: #ecf3ff;
      color: #465fff;
    }
  }
}

/* Overlay khi sidebar mở trên mobile */
.sidebar-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

/* Responsive */
@media (max-width: 1024px) {
  .sidebar-container {
    position: fixed;
    top: 70px;
    left: -280px;
    height: 100vh;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    padding-top: 20px;
  }

  .sidebar-container.show-mobile {
    left: 0;
  }

  .sidebar-container.close {
    width: 280px; // luôn full width khi mobile
  }
}
