
@font-face {
  font-family: 'FZ Poppins';
  src: url('../fonts/FZ Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FZ Poppins';
  src: url('../fonts/FZ Poppins-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FZ Poppins';
  src: url('../fonts/FZ Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
body, html, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ffff;
  font-family: 'FZ Poppins', sans-serif !important;
}
.Toastify__toast {
  font-family: 'FZ Poppins', sans-serif;
  font-size: 16px; /* tùy chỉnh kích thước */
  font-weight: 500; /* tùy chỉnh độ đậm */
}
* {
  box-sizing: inherit;
}
