.product-container {
  background: #f9fafb;
}

.filters-content {
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  padding: 20px;

  .filters-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .clear-container {
    .btn-clear {
      border: 1px solid #dedfe1;
      background-color: #f9fafb;
      font-weight: bold;
      padding: 10px 20px;
      border-radius: 10px;
      transition: 0.2s;
      &:hover {
        background-color: #e5e7eb;
        border: 1px solid #838486;
        cursor: pointer;
      }
    }
  }

  .filters-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    overflow: hidden;

    &.close {
      max-height: 0;
      opacity: 0;
    }

    .item {
      flex: 0 0 calc(33.333% - 10px);
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .price-item {
      position: relative;
      .price-item_slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .slider-container {
          position: relative;
          width: 100%;
          height: 30px;
          bottom: 4px;

          .slider-track {
            position: absolute;
            top: 50%;
            left: 2px;
            width: 99%;
            height: 6px;
            background-color: #d1d5db;
            border-radius: 3px;
            transform: translateY(-25%);
          }

          .range {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            appearance: none;
            background: none;
          }

          .range::-webkit-slider-thumb {
            pointer-events: all;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #06b6d4;
            cursor: pointer;
            border: 2px solid #fff;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
            appearance: none;
          }
        }

        .price-info {
          font-size: 14px;
          color: #374151;
          position: absolute;
          top: 2px;

          span {
            font-weight: 600;
            color: #0ea5e9;
          }
        }
      }
    }

    .color-item {
      // width: 100%;

      .color-item_title {
        display: flex;
        align-items: center;
        cursor: pointer;

        .open-close-icon {
          font-size: 14px;
          margin-left: 10px;
        }
      }

      .color-item_table {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        overflow: hidden;
        transition: max-height 0.4s ease, opacity 0.4s ease;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        padding: 10px;
        max-height: 200px;
        opacity: 1;

        .color {
          width: 30px;
          height: 30px;
          border-radius: 4px;
          // border: 1px solid #bbb;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            cursor: pointer;
          }
          .ticked-color {
            &.hide {
              display: none;
            }
          }
        }

        &.close {
          max-height: 0;
          opacity: 0;
          padding: 0;
          border: none;
        }
      }
    }
  }
}

.show-arts {
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  padding: 20px;
  margin-top: 20px;
  .show-arts_title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .show-arts_content {
  }
}
