.sidebar-container {
  width: 280px;
  background-color: #fff;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: width 0.3s ease;
}
.sidebar-container.close {
  width: 104px;
}
.sidebar-header {
  display: flex;
  align-items: center;
  .logo {
    font-weight: 700;
    font-size: 25px;
    color: #2563eb;
    margin-left: 15px;
  }
  .icon-fabars {
    border: 1px solid #e4e7ec;
    padding: 5px 10px 0px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .icon-fabars.close {
    margin: 0 auto;
  }
  .icon-fabars:hover {
    cursor: pointer;
  }
}
.sidebar-body {
  margin-top: 50px;

  .nav-items {
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.1s;
  }
  .nav-items .icon {
    font-size: 25px;
    margin-top: 6px;
    padding-right: 17px;
  }
  .nav-items .name {
  }
  .nav-items:hover {
    background-color: #f2f4f7;
  }
  .nav-items.active {
    background-color: #ecf3ff;
    color: #465fff;
  }
}
