.header-container {
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 30;
}

.icon-fabars {
  width: 39px;
  height: 33px;
  border: 1px solid #e4e7ec;
  padding: 5px 10px 0px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.icon-fabars:hover {
  background-color: #f2f4f7;
}

.icon-fatimes {
  width: 39px;
  height: 33px;
  border: 1px solid #e4e7ec;
  padding: 5px 10px 0px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.icon-fatimes:hover {
  background-color: #f2f4f7;
}
