.productUser-container {
  background-color: #f2f2f2;
  min-height: 100vh;
  .list-filter-reponsive {
    position: fixed;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgb(76, 75, 75);
    height: 100vh;
    width: 320px;
    z-index: 100;
    top: 0;
    overflow-y: auto;
    padding: 20px;
    transform: translateX(-110%);
    transition: transform 0.35s ease;
    &.active {
      transform: translateX(0);
    }
    .list-filter-reponsive-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      span:nth-child(1) {
        font-size: 20px;
        font-weight: bold;
      }
      .icon-close-filter-reponsive {
        font-size: 25px;
        cursor: pointer;
      }
    }
    .productUser-filter {
      margin: 0;
    }
  }
  .productUser-title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    padding: 50px 0;
  }
  .productUser-content {
    display: flex;
  }
  .productUser-filter {
    color: #212121BF;
    // min-width: 250px;
    margin-right: 20px;
    margin-left: 3rem;
    .productUser-filter-title {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      .productUser-filter-title-name {
        font-weight: bold;
        .icon-filter-reponsive {
          display: none;
        }
      }
      .clear-all-filters {
        font-style: italic;
        cursor: pointer;
        text-decoration: underline;
        transition: 0.2s;
        color: #56575a;
        &:hover {
          color: black;
        }
      }
    }
    .productUser-filter-content {
      input {
        width: 17px;
        height: 17px;
        cursor: pointer;
      }
      span {
        cursor: pointer;
      }
      .categories-content {
        margin-bottom: 20px;
        .categories-content-name {
          display: flex;
          align-items: center;
          cursor: pointer;
        }
        .categories-content-child {
          margin-top: 5px;
          margin-left: 30px;
          label {
            display: flex;
            align-items: center;
          }
        }
      }
      .materials-content {
        margin-top: 5px;
        margin-bottom: 20px;
        .materials-content-name {
          display: flex;
          align-items: center;
          cursor: pointer;
          span {
            margin-left: 4px;
          }
        }
        .materials-content-child {
          margin-top: 5px;
          margin-left: 30px;
          label {
            display: flex;
            align-items: center;
          }
        }
      }
      .price-item {
        position: relative;
        margin-bottom: 20px;
        .price-item_title {
          cursor: pointer;
        }
        .price-item_slide {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          margin-top: 20px;

          .slider-container {
            position: relative;
            width: 100%;
            height: 30px;
            bottom: 4px;

            .slider-track {
              position: absolute;
              top: 50%;
              left: 2px;
              width: 99%;
              height: 6px;
              background-color: #d1d5db;
              border-radius: 3px;
              transform: translateY(-25%);
            }

            .range {
              position: absolute;
              width: 100%;
              top: 50%;
              transform: translateY(-50%);
              pointer-events: none;
              appearance: none;
              background: none;
            }

            .range::-webkit-slider-thumb {
              pointer-events: all;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              background-color: #06b6d4;
              cursor: pointer;
              border: 2px solid #fff;
              box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
              appearance: none;
            }
          }

          .price-info {
            font-size: 14px;
            color: #374151;
            position: absolute;
            top: 25px;

            span {
              font-weight: 600;
              color: #0ea5e9;
            }
          }
        }
      }
      .color-item {
        // width: 100%;
        // height: 24px;
        margin-bottom: 20px;

        .color-item_title {
          display: flex;
          align-items: center;
          cursor: pointer;

          .open-close-icon {
            margin-right: 4px;
          }
        }

        .color-item_table {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          justify-content: center;
          overflow: hidden;
          transition: max-height 0.4s ease, opacity 0.4s ease;
          border: 1px solid #b5b8be;
          border-radius: 8px;
          padding: 10px;
          max-height: 212px;
          opacity: 1;
          width: 291px;
          margin-top: 10px;

          .color {
            width: 30px;
            height: 30px;
            border-radius: 4px;
            // border: 1px solid #bbb;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
              cursor: pointer;
            }
            .ticked-color {
              &.hide {
                display: none;
              }
            }
          }

          &.close {
            max-height: 0;
            opacity: 0;
            padding: 0;
            border: none;
          }
        }
      }
      .dimensions-content {
        margin-bottom: 20px;
        .dimensions-title {
          display: flex;
          align-items: center;
          cursor: pointer;
          span {
            margin-left: 4px;
          }
        }
        .dimensions-item {
          margin-top: 5px;
          margin-left: 30px;
          label {
            display: flex;
            align-items: center;
          }
        }
      }
      .topics-content {
        margin-bottom: 20px;
        .topics-title {
          display: flex;
          align-items: center;
          cursor: pointer;
          span {
            margin-left: 4px;
          }
        }
        .topics-item {
          margin-top: 5px;
          margin-left: 30px;
          label {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  .productUser-showProduct {
    flex: 1;
    display: flex;
    flex-direction: column;
    .sort-container {
      margin-bottom: 30px;
      padding-right: 70px;
      display: flex;
      align-items: center;
      justify-content: end;
      span {
        margin-right: 10px;
      }
    }
    .main-show-product {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      .product-item {
        flex: 0 0 calc(25% - 10px);
        .product-thumbnail {
          img {
            width: 100%;
            // height: 100%;
            object-fit: cover;
          }
        }
        .product-name {
          margin-top: 5px;
        }
        .product-price {
          margin-top: 5px;
        }
      }
      .product-not-found {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .product-not-found-title {
          font-weight: 700;
          font-size: 40px;
        }
        .back-to-shop {
          font-style: italic;
          cursor: pointer;
          text-decoration: underline;
          transition: 0.2s;
          color: #56575a;
          &:hover {
            color: black;
          }
        }
      }
    }
    .pagination {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin-top: 65px;
      gap: 6px;
    }

    .page-num {
      padding: 8px 14px;
      border: 1px solid #ddd;
      border-radius: 6px;
      cursor: pointer;
      color: #333;
      background: #f8f8f8;
      transition: all 0.2s ease;
    }

    .page-num:hover {
      background: #007bff;
      color: white;
      border-color: #007bff;
    }

    .active {
      background: #007bff !important;
      color: white !important;
      border-color: #007bff !important;
    }
  }
}

@media (max-width: 990px) {
  .productUser-container {
    .productUser-showProduct {
      .main-show-product {
        .product-item {
          flex: 0 0 calc((100% / 3) - 10px);
        }
      }
    }
  }
}

@media (max-width: 721px) {
  .productUser-container {
    .productUser-content {
      flex-direction: column;
      .productUser-filter {
        margin-left: 20px;
        .productUser-filter-title {
          .productUser-filter-title-name {
            cursor: pointer;
            .icon-filter-reponsive {
              display: inline;
              margin-right: 6px;
            }
          }
        }
        .productUser-filter-content {
          display: none;
        }
      }
      .productUser-showProduct {
        .main-show-product {
          margin-left: 10px;
        }
      }
    }
  }
}

@media (min-width: 721px) {
  .productUser-container {
    .list-filter-reponsive {
      display: none;
    }
  }
}

.range {
  -webkit-appearance: none; /* Tắt style mặc định của Chrome/Safari */
  appearance: none;
  width: 100%;
  background: transparent; /* Làm cho track của input trong suốt */
  pointer-events: none;    /* Input này chỉ dùng để kéo thumb */
  position: absolute;      /* Đảm bảo nó nằm đè lên track div */
  left: 0;
}

/* Tắt track mặc định của Firefox */
.range::-moz-range-track {
  background: transparent;
  border-color: transparent;
}

/* 2. Style cho nút tròn (thumb) trên Chrome, Safari, Edge 
*/
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  
  /* Các thuộc tính này mô phỏng style trong ảnh của bạn */
  height: 20px; 
  width: 20px;
  border-radius: 50%; /* Làm nó hình tròn */
  border: 2px solid white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  cursor: pointer;
  pointer-events: auto; /* Cho phép click và kéo thumb */
  margin-top: -8px; /* Căn chỉnh thumb vào giữa track (thay đổi nếu cần) */
  
  /* --- ĐỔI MÀU Ở ĐÂY --- */
  background-color: #565656; /* <-- MÀU XÁM BẠN MUỐN */
}

/* 3. Style cho nút tròn (thumb) trên Firefox 
*/
.range::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  cursor: pointer;
  pointer-events: auto;

  /* --- ĐỔI MÀU Ở ĐÂY --- */
  background-color: #565656; /* <-- MÀU XÁM BẠN MUỐN */
}